:root {
	--light-gray: #f6f7f6 !important;
	--light-blue: #eaeff4 !important;
}

* {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-webkit-linear-gradient: none !important;
	text-shadow: none !important;
	-webkit-text-shadow: none !important;
	border-radius: 0 !important;
	line-height: 1.4em !important;
}

pre.prettyprint {
	background: #f6f7f6 !important;
	border: none !important;
}

.round {
	border-radius: 50% !important;
}

.page_feed .feed_item .content .snippet {
	max-height: 48px !important;
	text-overflow: ellipsis !important;
}

.page_feed li:hover, .dropdown-menu li:hover, #my_classes li:hover {
	background: #f6f7f6 !important;
	cursor: pointer;
}

.dropdown-menu li:hover, .dropdown-menu li:hover * {
	color: black !important;
}

#my_classes li:hover, #my_classes li:hover * {
	color: #3e7aab !important;
}

.hide_show_feed {
	background: none !important;
	border: none !important;
	margin: 0 !important;
}

.post_region_box .resolve_unresolve_actions .radio.inline {
	line-height: 24px !important;
}

.post_region_box .discussion_replies {
	padding: 12px !important;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.post_region_box .discussion_replies.edit_mode .discussion_content.edit_mode {
	margin-left: 42px !important;
}

.dropdown.followup_region_arrow_dropdown.reply {
	position: absolute;
	top: 0 !important;
	right: 0 !important;
}

.post_region_box .account_image_container {
	align-self: flex-start;
}

.discussion_replies .discussion_content {
	margin-left: 6px !important;
}

#popular_tags_bar,
#bucket_pin,
.start_open.page_feed_bucket_header,
.start_closed.page_feed_bucket_header,
.dashboard_toolbar.page_feed_tool_bar {
	background: #f6f7f6 !important;
}

#popular_tags_bar .popular_tag_number {
	border-radius: 5px !important;
}

.page_feed_bucket_header {
	padding: 6px !important;
}

#popular_tags_bar {
	height: 31px !important;
	line-height: 31px !important;
}

#popular_tags_list > li {
	line-height: 31px !important;
}

.folder_icon {
	margin-top: 8px !important;
}

.views {
	top: 32px !important;
}

.dashboard_toolbar.page_feed_tool_bar {
	border: none !important;
}

#feed {
	width: 380px !important;
	border: none !important;
}

#feed_search {
	display: flex;
	width: 100%;
}

.page_feed .page_feed_search_wrapper {
	background: none !important;
	border-top: 1px solid rgb(199, 198, 198) !important;
	border-bottom: 1px solid rgb(199, 198, 198) !important;
}

.btn-primary {
	background: #3e7aab !important;
	border: none !important;
	padding: 8px 12px !important;
	transition: 0.1s;
}

.btn-primary:hover {
	background: #3575a8 !important;
}

#new_post_button,
.page_feed .page_feed_search_wrapper .search_bar {
	margin: 0 !important;
}

.page_feed .page_feed_search_wrapper .search_bar {
	flex-grow: 1;
	border: none !important;
}

.scrollable#question_feed_questions {
	position: static !important;
	height: calc(100% - 54px) !important;
}

li.feed_item {
	padding: 24px 12px !important;
	transition: 0.1s;
	border-bottom: none !important;
}

.page_feed .feed_item .metadata {
	margin-right: 18px;
}

.icons {
	display: flex !important;
}

.page_feed .feed_item.note .metadata .icons .new_activity_icon {
	margin-right: 0 !important;
}

.feed_item:hover {
	background: #f6f7f6 !important;
}

.feed_item_dropdown_arrow {
	background: none !important;
	color: #333333 !important;
	margin-top: 10px !important;
}

li.feed_item.selected {
	background: #eaeff4 !important;
}

.unread .unread_indicator {
	background: rgb(255, 230, 230) !important;
}

#page_center,
#page_bottom_bar {
	left: 380px;
}

.post_region_actions {
	border: none !important;
	padding: 16px !important;
}

.edit.btn {
	background: none !important;
	color: #3c7cc0 !important;
	border: none !important;
	padding: 0 !important;
	margin-top: 2px !important;
}

#view_quesiton_note {
	clear: both;
}

.post_region_box .post_region_actions .post_region_actions_meta {
	margin-top: 5px;
}

.post_region_box .post_region_header {
	border: none !important;
	padding: 16px 24px 0 !important;
}

#question .post_region_header {
	float: left !important;
}

.post_title {
	margin-left: 0 !important;
}

.post_icon {
	margin-right: 5px;
}

.post_region_box .post_region_arrow_dropdown.qa_actions_dropdown {
	float: right !important;
	top: 0 !important;
	margin: 0 !important;
	right: 0 !important;
}

.post_view_count {
	float: left !important;
	text-shadow: none !important;
	color: inherit !important;
	background: inherit !important;
	margin-left: 12px;
	font-size: 16px !important;
}

.clarifying_discussion {
	padding: 12px !important;
	margin-bottom: 24px !important;
}

.resolve_unresolve_actions {
	margin-top: -12px;
	margin-left: -12px;
}

.post_region_box .post_region_content {
	padding: 24px !important;
}


#question_history_slider_wrapper {
	background: #eaeff4 !important;
	border-bottom: none !important;
}

#question_history_description {
	background: #3e7aab !important;
	border: none !important;
	color: white !important;
	display: inline-flex !important;
	align-items: center;
}

#question_history_description * {
	color: white !important;
}

.dashboard_toolbar {
	border-bottom: none;
}

.slider.slider-horizontal {
	height: 26px !important;
}

.special_mentions_visibility {
	border: none !important;
	background: none !important;
	font-size: xx-large;
}

.special_mentions_visibility.hide {
	bottom: 8px !important;
	position: absolute;
	z-index: 11;
}

#special_mentions {
	background: #f6f7f6 !important;
	height: auto !important;
}

#special_mentions .stats_item .content {
	background: none !important;
}

#special_mentions h3 {
	text-align: center;
}

.white_border {
	border-radius: 50% !important;
}

#legal_info {
	padding: 16px 0 8px !important;
}

.UIModalWindow .topbar {
	background: #eaeff4 !important;
	color: black !important;
	padding: 16px !important;
}

.UIActions {
	background: white !important;
	padding: 16px !important;
}

.UIButton {
	background: none !important;
}

.UIButton.submit {
	color: #900 !important;
}
